.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.header{
    position: relative;
    text-align: center;
    background-color: white;
    color: black;
    padding: 3rem;
}

.title{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 30px;
}


.cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 4rem;
    column-gap: 4rem;
    background-color: black;
    padding: 9rem;
}

.cards > div{
    background-color:yellow;
    border-radius: 20px;
}

.pokemonImageStyle{
    height: 100%;
    width: 100%;
}

.cardContainer{
    border-radius: 5px;
}